body > div.row
{
	box-shadow: 0px 0px 3px #999;
	-moz-box-shadow: 0px 0px 3px #999;
	-webkit-box-shadow: 0px 0px 3px #999;
}

article, header, nav, aside, section, footer
{
	display: block;
	/*outline: 1px solid #CCC;*/

	background: hsla(200, 30%, 30%, 0.1);
}

aside, section
{
	min-height: 100px;
}

article
{
	border-radius: 3px;
	min-height: 50px;
}

header, nav, footer
{
	min-height: 20px;
}

footer { text-align: center; }
